@charset "utf-8";
.navbar-brand{
    color: black;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 10%;
}
.bg-light{
    background-color: #ffffff;
}
.title{
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
}
.subtitle{
    text-align: center;
    font-size: 150%;
    margin-top: 3%;
}

  html, 
  body {
      height: 100%;
  } 

  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  .drop-zone {
    width: 50%;
    height: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
  }

  @media screen and (max-width: 600px) {
    html{
        font-size : 10px;
    }
    .drop-zone{
        height: 20%;
    }
  }

  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  