@charset "utf-8";

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}


.navbar-brand{
    color: black;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 10%;
    text-decoration-line: none;
}
.bg-light{
    background-color: #ffffff;
}
.title{
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
    color:rgba(37,35,128,1);
}
.subtitle{
    text-align: center;
    font-size: 150%;
    margin-top: 3%;
}
.container-fluid{
  margin-top: 13%;
 margin-bottom: 5%;
}
.top-adfit-container{
  width: 100%;
  text-align: center;
}
.title-container{
  margin-bottom: 15%;
}
  html, 
  body {
      height: 100%;
      font-family: 'Jua', sans-serif;
  } 
  .drop-zone {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    background-color: #f6f7fa;
    border: 1px dashed #009578;
    border-radius: 10px;
    margin-top:5%;
  }
  .drop-zone:hover{
    Color: #a6e4da;
    background-color:#e1f6f2;
  }

  .drop-zone-container{
  
    width : 80%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom:10%
  }
  

  @media screen and (max-width: 600px) {
    html{
        font-size : 10px;
    }
    .drop-zone-container{
      margin-left: auto; 
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }

  @media (min-width: 768px){
  .drop-zone-container{
      max-width: 720px;
  }
    }
  @media (min-width: 576px){
  .drop-zone-container{
      max-width: 540px;
  }
  }
  @media (min-width: 768px){
  .drop-zone-container {
      max-width: 720px;
  }
  }
  @media (min-width: 576px){
  .drop-zone-container {
      max-width: 540px;
  }
}

  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    max-height: 60%;
    max-width: 60%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
  #label-container{
    text-align: center;
    width: 93%;
    margin: auto;
  }

  #myProgress {
    width: 100%;
  }

  
  .container{
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
  .MbtiName{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .Mbti-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.bar-container {
  height: 2rem;
  background-color: rgba(235, 166, 190, 0.2);
  margin-bottom: 10px;
  border-radius: 10px;
}
.position-relative {
  position: relative!important;
}
.Mbti-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
  .d-flex {
    display: flex!important;
    
  }
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
}
.d-block {
  display: block!important;
}
.flex-column {
  flex-direction: column!important;
  }

#first-name{
  margin-top:3%;
  font-size: 200%;
  text-align:center;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
}
#content{
  text-align:center;
  font-size: 130%;
}
#content-container{
  margin-bottom:10%;
  margin-top: 5%;
}
#loadingImg {
  width: 100%;
  text-align: center;
}
#image {
  width: 15%;
  height: 5%;
}
.at-share-btn-elements {
  text-align: center;
  margin-top: 5%;
}
.addthis_inline_share_toolbox{
  visibility: hidden;
}
#restart{
  visibility: hidden;
}
#content-character{
  color :#a6e4da;
  font-size: larger;
  text-align-last: center;
}
.kakao_ad_area{
  min-width: 100%;
  width:100%;
  display:none
}

.adfit__html-banner{
  width:100%;
  min-width: 100%;
}
.adfit__html-banner__inner{
  width: 100%;
}
.iframe{
  width: 100%;
  min-width: 100%;
}

button.success {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #036819;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:15%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}
