@charset "utf-8";

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


.navbar-brand{
    color: black;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 10%;
    text-decoration-line: none;
}
.bg-light{
    background-color: #ffffff;
}
.title{
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
    color:rgba(37,35,128,1);
}
.subtitle{
    text-align: center;
    font-size: 150%;
    margin-top: 3%;
}
.container-fluid{
  margin-top: 13%;
  margin-bottom:15%;
}
.title-container{
  margin-bottom: 15%;
}
  html, 
  body {
      height: 100%;
      font-family: 'Jua', sans-serif;
  } 
  .drop-zone {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
    margin-top:5%;
  }

  .drop-zone-container{
    background-color: #f6f7fa;
    width : 80%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom:10%
  }
  .height{
    height : 15%;
  }
  

  @media screen and (max-width: 600px) {
    html{
        font-size : 10px;
    }
    
    .drop-zone-container{
      width : 80%;
      height: 50%;
      margin-left: auto; 
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    
    .height{
      height : 25%;
    }
  }

  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 75%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
  #label-container{
    text-align: center;
    width: 93%;
    background-color: white;
    margin: auto;
  }

  #myProgress {
    width: 100%;
  }

  
  .container{
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
  .MbtiName{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .Mbti-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.bar-container {
  height: 2rem;
  background-color: rgba(235, 166, 190, 0.2);
  margin-bottom: 10px;
  border-radius: 10px;
}
.position-relative {
  position: relative!important;
}
.Mbti-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
  .d-flex {
    display: flex!important;
    
  }
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
}
.d-block {
  display: block!important;
}
.flex-column {
  flex-direction: column!important;
  }

#first-name{
  margin-top:3%;
  font-size: 200%;
  text-align:center;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
}
#content{
  text-align:center;
  font-size: 130%;
}
#content-container{
  margin-bottom:10%;
  margin-top: 5%;
}